
header{
    background-color: #dbd3c3;
}
footer{
    background-color: #bc8494;
    text-align: center;
    color: aliceblue !important;
}
.logo-footer-container {
    background-color: #bc8494;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Altura del contenedor, ajusta según sea necesario */
}
.logo-footer{
    
    height: 70px;
    width: auto;
    display: block;
    background-color: #bc8494;
}





html{
    margin: 0 auto;
    width: 800px;

}
.logo{
    
    height: 70px;
    width: auto;
    display: block;
    background-color: #dbd3c3;
}

nav {
    display: flex;

    background-color: #dbd3c333;
    padding: 10px;
    border-radius: 5px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.nav_links {
  display: inline-block; /* Evita que el div se expanda */
  font-size: 16px;
  color: #333;
  
  /* Animación del tamaño de la fuente */
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.nav_links:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la fuente en un 10% */
  color: #bc8494;
}

ul li:last-child{
    margin-left: 60px;
}

.logo-container {
    background-color: #dbd3c3;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Altura del contenedor, ajusta según sea necesario */
}




/* Estilos carrusel */
  
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  body {
    
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  .carousel ol,
  .carousel ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-image: url("../img/vino1.jpg");
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-image: url("../img/vino2.jpg");
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  /* Terminan estilos carrusel */

  /* Empiezan estilos footer */

  .container {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
    padding-top: 0;
}

.column:first-child {
    text-align: center;
}

.column:last-child {
    text-align: right;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin-right: 10px;
}

.linksFooter{
text-align: center;
color: aliceblue;
}

header a{
    color: #333333;
}

.container-badges{
    background-color: #dbd3c3;
}


.column {
    display: flex;
    align-items: center;
}


.right-side {
    flex: 2;
    padding-left: 20px; /* Espacio entre la imagen y el texto */
}

.right-side h3 {
    margin-top: 0; /* Elimina el margen superior del h3 */
}

.info {
    margin-top: 10px; /* Espacio entre el h3 y la información */
}
.info p {
    font-size: 14px; /* Tamaño de fuente más pequeño */
}





.line-with-icon {
    display: flex;
    align-items: center;
}

.line-with-icon div {
    flex: 1;
}

.left-line, .right-line {
    height: 1px;
    background-color: black; /* Color de la línea */
}

.right-line {
    margin-left: 10px; /* Espacio entre el icono y la línea derecha */
}

.fa-star {
    font-size: 24px; /* Tamaño del icono */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #dbd3c3;
  min-width: 120px;
  z-index: 1;
  padding: 10px 0; /* Añade espaciado interno */
padding: 1%;
margin-top: 1px;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px; /* Ajusta el espaciado */
  color: black; /* Color de texto */
  text-decoration: none;
  position: relative;
}

.dropdown-content a:hover {
color: #8c344c;

}

.dropdown-content a:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white; /* Color del círculo */
  display: inline-block;
  margin-right: 8px; /* Espacio entre el círculo y el texto */
  position: absolute;
  left: 0; /* Alinear a la izquierda */
  top: 50%; /* Centrar verticalmente */
  transform: translateY(-50%); /* Ajuste para centrar verticalmente */
}

.dropdown:hover .dropdown-content {
  display: block;
}
.top-sells{
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea */

  background-color: #dbd3c3;
  justify-content: center;
}





.card-group {
  display: flex; /* Establece el contenedor como un flexbox */

}

.card {
  flex: 1; /* Distribuye el espacio disponible de manera uniforme entre las tarjetas */
  margin: 0 10px; /* Espacio entre las tarjetas */
  border: 1px solid #ccc; /* Borde para las tarjetas */

}

.card img {
  display: block; /* Asegura que la imagen sea un bloque para aplicar centrado horizontal */
  margin: 0 auto; /* Centra horizontalmente la imagen */
}

.card-info {
  padding: 10px; /* Espaciado interno para la información */
}

.card-info h3 {
  margin: 0; /* Elimina el margen superior e inferior del título */
}

.card-info {
  position: relative; /* Establece la posición relativa para que el botón se posicione correctamente */
}

.add-to-cart-btn {
  position: absolute; /* Establece la posición absoluta para que el botón se superponga sobre la imagen */
  top: 5%; /* Lo coloca en la mitad superior del contenedor */
  left: 50%; /* Lo coloca en la mitad izquierda del contenedor */
  transform: translate(-50%, -50%); /* Centra el botón vertical y horizontalmente */
  padding: 8px 16px; /* Ajusta el espaciado del botón */
  background-color: #8c344c; /* Establece el color de fondo del botón */
  color: #fff; /* Establece el color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Agrega esquinas redondeadas al botón */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  opacity: 0; /* Oculta el botón por defecto */
  transition: opacity 0.3s ease; /* Agrega una transición suave para la aparición del botón */
}

.card:hover .add-to-cart-btn {
  opacity: 1; /* Muestra el botón al pasar el mouse sobre la tarjeta */
}






.section {
  text-align: center;
  padding: 50px 0;
  background-color: #dbd3c3;
}

.top-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.bottom-image {
  text-align: center;
  margin-top: 30px;
}

.image-container {
  position: relative;
  width: calc(50% - 15px); /* Divide el ancho en dos y resta el espacio entre las imágenes */
}

.image-container img {
  width: 100%;
  filter: blur(5px) hue-rotate(15deg); /* Aplica un efecto de desenfoque con un tinte rosado */
}
.image-container-bottom img{

  filter: blur(5px) hue-rotate(15deg); /* Aplica un efecto de desenfoque con un tinte rosado */
}

.bottom-image{
  width: 800px;

  object-fit: cover; /* Ajusta la imagen sin deformarla */
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
}

.overlay h2 {
  margin: 0;
}



.content-blog{
  background-color: #dbd3c3;
}
